html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 950px) {
    /* Css for Mobile goes here*/
}

@media only screen and (min-width: 950px) {
    /* Css for Desktop goes here*/
}

body
{
    /* Var*/
    --textCol:          #000;
    --linkCol:          #000;
    --mainCol:          #000;
    --subCol:           #999;
    --lineW:            1px;

    background-color:   transparent;
    color:              var(--textCol);
    position:           relative;
    overflow-y:         scroll;

    -webkit-font-smoothing: antialiased;
    text-rendering:         optimizelegibility;
  
    font-size:          14px;
    font-weight:        100;
    

    font-family:        "Noto Sans", -apple-system, BlinkMacSystemFont, 
                        "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", 
                        "Cantarell", "Helvetica Neue", sans-serif;

    margin-top:         1.0rem;
    margin-left:        1.0rem;
    margin-right:       1.0rem;
    margin-bottom:      1.0rem;
}

::selection {
    background: #eeeeee;
}

/* divs */
.container
{    
    padding:            auto;
    margin-top:         1.0rem;
    margin-left:        auto;
    margin-right:       auto;
    margin-bottom:      1.0rem;

    display:            flex;
    flex-wrap:          wrap;
    justify-content:    center;
    align-content:      space-around;
    align-items:        flex-start;

    border-style:       none;
    border-width:       var(--lineW);
    border-color:       var(--subCol);
    border-radius:      0.0rem;
}

.index {
    transform:          scale(4, 1);
    text-align:         flex;
    width:              25%;
    height:             fit-content;

    word-wrap:          break-word;
    overflow:           break-word;
    /* overflow:           auto; */

    padding-top:        0.0rem;
    padding-left:       0.0rem;
    padding-right:      0.0rem;
    padding-bottom:     0.0rem;

    margin-top:         0.5rem;
    margin-left:        0.5rem;
    margin-right:       0.5rem;
    margin-bottom:      0.5rem;

    

    border-style:       none;
    border-width:       var(--lineW);
    border-color:       var(--subCol);
    border-radius:      0.5rem;    
}

.insert
{
    display:            block;
    text-align:         justify;

    margin:             1.0rem;
    word-wrap:          break-word;
    overflow:           break-word;

    border-style:       solid;
    border-width:       var(--lineW);  
    border-color:       var(--subCol);
    border-radius:      1.0rem;

    padding-top:        0.2rem;
    padding-left:       0.0rem;
    padding-right:      0.0rem;
    padding-bottom:     0.2rem;
    
    margin-top:         1.0rem;
    margin-left:        0.5rem;
    margin-right:       0.5rem;
    margin-bottom:      1.0rem;
}

/* text/media style */

p
{
    padding-top:        auto;
    padding-left:       1.0rem;
    padding-right:      1.0rem;
    padding-bottom:     auto;

    margin-top:         1.0rem;
    margin-left:        0.0em;
    margin-right:       0.0em;
    margin-bottom:      1.0rem;
}

hr {
    border:             none;
    border-top:         1px dashed var(--subCol);
    margin-top:         0.0em;
    margin-bottom:      0.0em;
}

.insert > p
{
    padding-top:        auto;
    padding-left:       0.5em;
    padding-right:      0.5em;
    padding-bottom:     auto;
    
    margin-top:         0.5em;
    margin-left:        0.5em;
    margin-right:       0.5em;
    margin-bottom:      0.5em;
}

img {
    display:            block;
    object-fit:         cover;
    width:              100%;
    margin-top:         0.5em;
    margin-bottom:      0.5em;
}

a {
    text-decoration:    none;
    color:              var(--linkCol);
}

a:hover, a:active{
    text-decoration:    none;
    transform:          scale(3, 1);
    color:              var(--linkCol);
}