html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 950px) {
    /* Css for Mobile goes here*/
    .container {
        width:  100%;
        --pad:  3px;
        -webkit-text-size-adjust: none;
    }

    .index {
        border-style:       solid;
        border-left-style:  none;
        border-right-style: none;
        border-width:       var(--lineW);
        border-color:       var(--subCol);
        border-radius:      0em;
    }
}

@media only screen and (min-width: 950px) {
    /* Css for Desktop goes here*/
    .container {
        width:  38em;
        --pad:  4px;
    }

    .index {
        border-style:       solid;
        border-width:       var(--lineW);
        border-color:       var(--subCol);
        border-radius:      0em;
    }
}

body {
    /* Var*/
    --textCol:          #000;
    --linkCol:          #7a7a7a;
    --mainCol:          #000;
    --subCol:           #a1a1a1;
    --lineW:            1px;

    background-color:   transparent;
    color:              var(--textCol);
    position:           relative;
    overflow-y:         scroll;


    -webkit-font-smoothing:     antialiased;
    text-rendering:             optimizelegibility;
    font-family:        "MS PGothic", sans-serif;
    font-size:          1rem;
    font-weight:        100;
    line-height:        1em;

    margin-top:         0.0em;
    margin-left:        0;
    margin-right:       0;
    margin-bottom:      0.0em;
}

::selection {
    background: #eeeeee;
}

/* divs */
.container {
    display:            block;
    text-align:         justify;

    background-color:   transparent;
    border-style:       none;
    
    padding:            auto;
    margin:             auto;
}

.index {
    display:            block;
    text-align:         justify;
    
    word-wrap:          break-word;
    overflow:           break-word;

    padding-bottom:     0.5em;
    margin-bottom:      0.5em;
}

.insert {
    display:            block;
    text-align:         justify;

    margin:             1.0em;
    line-height:        1.0em;
    word-wrap:          break-word;
    overflow:           auto;

    border-style:       solid;
    border-width:       var(--lineW);  
    border-color:       var(--subCol);
    border-radius:      1.0em;

    padding-top:        0.0em;
    padding-left:       0.0em;
    padding-right:      0.0em;
    padding-bottom:     0.2em;
    
    margin-top:         0.0em;
    margin-left:        0.5em;
    margin-right:       0.5em;
    margin-bottom:      0.0em;
}

/* text/media style */
h1 {
    color:              var(--textCol);
    background-color:   transparent;
    
    font-weight:        100;
    font-size:          1.0rem;

    display:            block;
    text-align:         justify;

    padding-top:        0.0em;
    padding-left:       1.0em;
    padding-right:      1.0em;
    padding-bottom:     0.0em;
}

ul {
    list-style-type:    none;

    padding-top:        calc(var(--pad) * 0);
    padding-left:       calc(var(--pad) * 4);
    padding-right:      calc(var(--pad) * 4);
    padding-bottom:     calc(var(--pad) * 0);

    margin-top:         calc(var(--pad) * 2);
    margin-left:        calc(var(--pad) * 2);
    margin-right:       calc(var(--pad) * 2);
    margin-bottom:      calc(var(--pad) * 2);
}

li {
    margin-bottom:      0.5em;
}

li:before {
    padding-right:      0.0em;
    content: none;
}
li:after {
    padding-left:      0.0em;
    content: none;
}

a {
    text-decoration:    none;
    color:              var(--linkCol);
}

a:hover {
    text-decoration:    none;
    background-color:   #eeeeee;
    color:              var(--linkCol);
}

hr {
    width:              100%;
    height:             1px;

    border:             none;
    border-top:         1px dashed var(--subCol);

    margin-top:         1em;
    margin-bottom:      1em;
}

p {
    padding-top:        auto;
    padding-left:       0.5em;
    padding-right:      0.5em;
    padding-bottom:     auto;
    
    margin-top:         0.5em;
    margin-left:        0.5em;
    margin-right:       0.5em;
    margin-bottom:      0.5em;
}

img {
    display:            block;
    object-fit:         cover;
    width:              100%;

    margin-top:        0.5em;
    margin-bottom:     0.5em;

}

/* nav bar */
.flex-container {
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    space-between;
    align-content:      space-around;
    align-items:        flex-start;
}

.flex-cell {
    text-align:         center;
    flex-grow:          1;
    padding:            0.25em;
    padding-bottom:     0.25em;
    margin:             0.25em;
    border-color:       var(--subCol);
    color:              #a1a1a1;
}

.flex-cell>a {
    text-decoration:    none;
    
}

.flex-cell>a:active, .flex-cell>a:hover {
    text-decoration:    none;
    
}

details {
    color:              var(--linkCol);
    list-style-type:    none;

}