html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 950px) {
    /* Css for Mobile goes here*/
    .container {
        width:  100%;
        --pad:  5px;
        -webkit-text-size-adjust: none;
    }
}

@media only screen and (min-width: 950px) {
    /* Css for Desktop goes here*/
    .container {
        width:  640px;
        --pad:  4px;
    }
}

body {
    /* Var*/
    --textCol:          #000;
    --linkCol:          #7a7a7a;
    --mainCol:          #000;
    --subCol:           #a1a1a1;
    --lineW:            1px;

    background-color:   transparent;
    color:              var(--textCol);
    position:           relative;
    overflow-y:         scroll;

    font-weight:        lighter;
    font-size:          1rem;
    font-family:        "MS PGothic", sans-serif;
    margin: 0;
}

::selection {
    background: #eeeeee;
}

/* divs */
.container {
    display:            block;
    text-align:         justify;
    background-color:   transparent;
    border-style:       none;
    padding:            auto;
    margin:             auto;
}

.index {
    display:            block;
    text-align:         justify;
    line-height:        1em;
    word-wrap:          break-word;
    overflow:           break-word;

    border-style:       solid;
    border-width:       var(--lineW);
    border-color:       var(--subCol);
    border-radius:      1em;

    padding-bottom: 0.5em;  
    margin-bottom: 0.5em;    
}

.insert {
    display:            block;
    text-align:         justify;
    margin:             var(--pad);
    line-height:        calc(var(--pad) * 4);
    word-wrap:          break-word;
    overflow:           auto;

    border-style:       solid;
    border-width:       var(--lineW);  
    border-color:       var(--subCol);
    border-radius:      1em;

    padding-top:        calc(var(--pad) * 0);
    padding-left:       calc(var(--pad) * 2);
    padding-right:      calc(var(--pad) * 2);
    padding-bottom:     calc(var(--pad) * 0.5);
    
    margin-top:         calc(var(--pad) * 4);
    margin-left:        calc(var(--pad) * 2);
    margin-right:       calc(var(--pad) * 2);
    margin-bottom:      calc(var(--pad) * 4);
}


/* text/media style */
h1 {
    color:              var(--textCol);
    background-color:   transparent;
    
    font-weight:        lighter;
    font-size:          1rem;
    font-family:        "MS PGothic", sans-serif;

    display:            block;
    text-align:         justify;

    padding-top:        calc(var(--pad) * 2);
    padding-left:       calc(var(--pad) * 2);
    padding-right:      calc(var(--pad) * 2);
    padding-bottom:     calc(var(--pad) * 0);

    margin-top:         calc(var(--pad) * 2);
    margin-left:        calc(var(--pad) * 2);
    margin-right:       calc(var(--pad) * 2);
    margin-bottom:      calc(var(--pad) * 4);
}

h2 {
    color:              var(--textCol);
    background-color:   transparent;
    
    font-weight:        lighter;
    font-size:          1rem;
    font-family:        "MS PGothic", sans-serif;

    display:            block;
    text-align:         center;

    padding-top:        calc(var(--pad) * 0);
    padding-left:       calc(var(--pad) * 2);
    padding-right:      calc(var(--pad) * 2);
    padding-bottom:     calc(var(--pad) * 0);

    margin-top:         calc(var(--pad) * 2);
    margin-left:        calc(var(--pad) * 2);
    margin-right:       calc(var(--pad) * 2);
    margin-bottom:      calc(var(--pad) * 6);
}

ul {
    list-style-type:    none;

    padding-top:        calc(var(--pad) * 0);
    padding-left:       calc(var(--pad) * 4);
    padding-right:      calc(var(--pad) * 4);
    padding-bottom:     calc(var(--pad) * 0);

    margin-top:         calc(var(--pad) * 2);
    margin-left:        calc(var(--pad) * 2);
    margin-right:       calc(var(--pad) * 2);
    margin-bottom:      calc(var(--pad) * 2);
}

li {
    margin-bottom:      var(--pad);
}

li:before {
    padding-right:      calc(var(--pad) * 2);
}

a {
    text-decoration:    none;
    color:              var(--linkCol);
    
}

a:hover {
    text-decoration:    none;
    background-color:   #eeeeee;
    color:              var(--linkCol);
    
}

hr {
    width:              100%;
    height:             1px;

    border:             none;
    border-top:         1px dashed var(--subCol);

    margin-top:         1em;
    margin-bottom:      1em;
}

p {
    padding-top:        auto;
    padding-left:       calc(var(--pad) * 2);
    padding-right:      calc(var(--pad) * 2);
    padding-bottom:     auto;
    
    margin-top:         calc(var(--pad) * 2);
    margin-left:        calc(var(--pad) * 2);
    margin-right:       calc(var(--pad) * 2);
    margin-bottom:      calc(var(--pad) * 2);
}

img {
    display:            block;
    object-fit:         cover;
    width:              100%;

    padding-top:        calc(var(--pad) * 4);
    padding-bottom:     calc(var(--pad) * 4);

    margin:             auto;
}

/* nav bar */
.flex-container {
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    space-between;
    align-content:      space-around;
    align-items:        flex-start;
    
}

.flex-cell {
    text-align:         center;
    flex-grow:          1;
    padding:            var(--pad);
    padding-bottom:     calc(var(--pad) * 2);
    margin:             var(--pad);
    border-radius:      var(--pad);
    border-color:       var(--subCol);
}
