<section class='container'>
    <div class='index'>
        <h1>yoe</h1>
        <div class="flex-container">
            <div class='flex-cell'> 
                <a href="/">⤤ 📁</a>
            </div>
            <div class='flex-cell'> 
                <a href="/tags/">⤤ 🗄️</a>
            </div>
            <div class='flex-cell'>
                <span style="color:#a1a1a1;">|</span>
            </div>
            <!--external links-->
            <div class='flex-cell'> 
                <a href="https://soundcloud.com/yoeyoeyoe">⤤ 🎧</a>
            </div>
            <div class='flex-cell'> 
                <a href="/">⤤ 🎮</a>
            </div>
            <div class='flex-cell'> 
                <a href="mailto:yooooe@protonmail.com">⤤ 📧</a>
            </div>
        </div>
    </div>
</section>