{{ define "main" }}
<section class='container'>
    <div class='index'>
        <h1>welcome to blogsite</h1>
        <hr>
        <p>mostly writing to dump thoughts about games, art, 'culture' etc. soundcloud link above takes you to my music. </p>
        <p>also an 'artist' and currently making simple 3D videogames with low-level frameworks like <a href="https://www.raylib.com/">Raylib</a>.</p>
    </div>
</section>
<section class='container'>
    <div class='index'>
        <h1>good websites </h1>
        <p><a href="http://harmonyzone.org/">http://harmonyzone.org/</a></p>
        <p><a href="https://myfriendpokey.tumblr.com/">https://myfriendpokey.tumblr.com/</a></p>
        <p><a href="https://www.cicadamarionette.com/">https://www.cicadamarionette.com/</a></p>
        <p><a href="https://emreed.net/">https://emreed.net/</a></p>
        <p><a href="http://k-punk.abstractdynamics.org/">http://k-punk.abstractdynamics.org/</a></p>
        <p><a href="https://lilysteve.hotglue.me/">https://lilysteve.hotglue.me/</a></p>
    </div>
</section>
{{ end }}