{{ define "main" }}
<section class='container'>
    <div class='index'>
        {{ range .Pages.ByPublishDate.Reverse }}
        <p>
            <a class="font-125" href="{{ .RelPermalink }}">{{ .Title }}</a>
            <span style="float:right;">
                {{ partial "date.html" . }}
            </span>
        </p>
        {{ end }}
    </div>
</section>
<section class='container'>
    <div class='index'>
        <h1>links </h1>
        <p><a href="http://harmonyzone.org/">http://harmonyzone.org/</a></p>
        <p><a href="https://myfriendpokey.tumblr.com/">https://myfriendpokey.tumblr.com/</a></p>
        <p><a href="https://www.cicadamarionette.com/">https://www.cicadamarionette.com/</a></p>
        <p><a href="https://emreed.net/">https://emreed.net/</a></p>
        <p><a href="http://k-punk.abstractdynamics.org/">http://k-punk.abstractdynamics.org/</a></p>
        <p><a href="https://lilysteve.hotglue.me/">https://lilysteve.hotglue.me/</a></p>
    </div>
</section>
{{ end }}